*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a:link, a:visited {
  text-decoration: none;
}

/*9. Create a root stacking context*/
#root, #__next {
  isolation: isolate;
}

/*------Specific CSS-------*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#navBarTitle a {
  display: inline-block;
  margin: 20px;
  text-decoration: none;
  list-style-type: none;
  color: black;
}

.navBarLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navBarLinks li, .navBarLinks a {
  margin: 20px;
  text-decoration: none;
  list-style-type: none;
  color: black;
}

/* Home CSS */

.homeMain {
  display: flex;
  flex-direction: column;
}
.homeTop {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  padding-top: 75px;
  padding-left: 30px;
  padding-bottom: 320px;
}

.homeTitle {
  position: relative;
}

#titleDeveloper, #titleTeacher {
  position: absolute;
  font-size: 85px;
  z-index: 2;
}

#titleTeacher {
  top: 110px;
  margin-left: 30px;
}

#titleAnd {
  position: absolute;
  font-size: 160px;
  z-index: 1;
  opacity: 0.5;
}

.homeImages {
  position: relative;
}

.imagePicture {
  position: absolute;
  z-index: 2;
  left: 170px;
  width: 350px;
  height: 350px;
  border-radius: 50%; 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-end;
  margin-right: 15px;
}

.imagePicture img {
  width: 550px; 
  height: 550px;
  object-fit: cover;
  object-position: -20px 60px;
}

.imageGreenRect {
  position: absolute;
  z-index: 1;
  top: 80px;
  background-color: rgb(160, 244, 121);
  width: 550px;
  height: 20px;
}

.imageBlackTri {
  position: absolute;
  z-index: 1;
  top: -110px;
  left: 20px;
  transform: rotate(-25deg);
  font-size: 400px;
  font-weight: bolder;
}

.homeProjectsTitle {
  background-color: rgb(41, 87, 21);
  color: white;
  height: 500px;
  padding: 50px;
}

.homeProjectsTitle h1 {
  font-size: 50px;
}

.subtitle {
  display: flex;
  align-items: first baseline;
  margin-top: 40px;
  margin-left: 150px;
}

.subtitle p {
  font-size: 30px;
  font-style: italic;
}

.homeProjectsTitle h2 {
  font-size: 50px;
  color: white;
}

#opaqueAnd {
  font-size: 70px;
  color: rgb(127, 128, 126);
}

.accentLine {
  background-color: white;
  width: 150px;
  height: 3px;
  margin-top: 20px;
}

#paragraphText {
  width: 720px;
  height: 100px;
  margin-left: 150px;
  margin-top: 20px;
  font-size: 20px;
}

#largeGreyText {
  font-size: 80px;
  color: rgb(127, 128, 126);
  font-style: italic;
  font-weight: 100;
  margin-left: 250px;
}

.projectArea {
  display: flex;
  height: 300px;
  margin: 20px;
  margin-top: 100px;
  background-color: white;
  color: black;
}

.projectDivide {
  width: 90vw;
  height: 10px;
  background-color: white;
  box-shadow: 0 4px 2px -2px gray; 
  margin-top: 100px;
  margin-left: 20px;
}

.projectTitle {
  font-size: 40px;
  font-style: italic;
  font-weight: 100;
  margin-left: 50px;
}

.projectImage {
  width: 400px;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 5px 5px 5px whitesmoke;
}

.projectDescription {
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
  margin-left: 80px;
}

.projectStack {
  font-size: 20px;
  margin-top: 50px;
  margin-left: 50px;
}

.homeContacts {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: bisque;
  margin-top: 50px;
}

.contactLink {
  text-decoration: none;
  font-size: 20px;
}

.contactCard {
  z-index: 2;
  background-color: rgb(41, 87, 21);
  color: white;
  width: 15vw;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  border-radius: 20px;
  margin: 30px;
  padding: 10px;
  padding-top: 40px;
  box-shadow: 3px 3px 10px rgb(61, 59, 55);
}

.contactCard img {
  height: 65px;
  width: 65px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.contactLargeText {
  font-size: 30px;
  margin-top: 15px;
}

.imageTanTri {
  z-index: 1;
  position: absolute;
  color: rgb(247, 207, 157);
  top: -55px;
  left: 20px;
  transform: rotate(25deg);
  font-size: 200px;
  font-weight: bolder;
}

.homeFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(47, 46, 46);
  color: rgb(127, 128, 126);
  width: 100vw;
  height: 50px;
  font-size: 10px;
}

.footerText, .footerImages {
  display: flex;
  justify-content: center;
}

.footerImages {
font-size: 20px;
}

.footerImages i{
  margin-right: 20px;

}

.footerText i {
  margin-left: 15px;
  margin-right: 5px;
}

.contactIcons {
  color: rgb(127, 128, 126); /* Ensure the default color */
  text-decoration: none; /* Remove any underline */
}

.contactIcons:visited,
.contactIcons:hover,
.contactIcons:active {
  color: rgb(127, 128, 126); /* Override any color changes */
}