*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a:link, a:visited {
  text-decoration: none;
}

/*9. Create a root stacking context*/
#root, #__next {
  isolation: isolate;
}

/*------Specific CSS-------*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#navBarTitle a {
  display: inline-block;
  margin: 20px;
  text-decoration: none;
  list-style-type: none;
  color: black;
}

#navBarTitle a:hover {
  text-decoration: underline;
}

.sideBarLinks {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 30px;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.901);
  box-shadow: -10px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sideBarLinks li, .sideBarLinks a {
  margin-bottom: 20px;
  text-decoration: none;
  list-style-type: none;
  color: black;
}

.sideBarLinks li:hover, .sideBarLinks a:hover, .close:hover {
  text-decoration: underline;
}

.navBarLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navBarLinks li, .navBarLinks a {
  margin: 20px;
  text-decoration: none;
  list-style-type: none;
  color: black;
}

.navBarLinks li:hover, .navBarLinks a:hover {
  text-decoration: underline;
}

.menuButton {
  display: none;
}

@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }

  .menuButton{ 
    display: block;
  }
}

/* Home CSS */

.homeMain {
  display: flex;
  flex-direction: column;
}

.homeTop {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

.homepageTitleContainer {
  width: 100%;
  max-width: 650px;
  height: auto;
  padding-left: 20px;
  margin-top: 100px;
}

.homepageProfilePicContainer {
  width: 100%;
  max-width: 700px;
  max-height: auto;
  overflow: visible;
  justify-self: end;
  padding-right: 100px;
}

.homepageProfilePic {
  margin-top: 50px;
  margin-bottom: -30px; /* pushes image down into homeMiddle */
  position: relative;
  z-index: 2; /* keeps it above the next section */
}

@media (max-width: 800px) {
  .homeTop {
    grid-template-columns: 1fr; /* single column */
    grid-template-rows: auto auto;
  }

  /* Reverse the visual order: right image on top */
  .homepageTitleContainer {
    justify-self: center;
    grid-row: 2;
  }

  .homepageProfilePicContainer {
    grid-row: 1;
    justify-self: center;  
    padding-right: 0px;
  }
}

.homeProjectsTitle {
  width: 100%;
  background-color: rgb(41, 87, 21);
  color: white;
  min-height: 500px;
  padding: 50px;
}

.homeProjectsTitle h1 {
  font-size: 50px;
}

.accentLine {
  background-color: white;
  width: 150px;
  height: 3px;
  margin-top: 20px;
}

.subtitle {
  width: 100%;
  display: flex;
  align-items: first baseline;
  margin-top: 40px;
  margin-left: 150px;
}

.subtitle p {
  font-size: 30px;
  font-style: italic;
}

.homeProjectsTitle h2 {
  font-size: 50px;
  color: white;
}

#opaqueAnd {
  font-size: 70px;
  color: rgb(127, 128, 126);
}

#paragraphText {
  max-width: 720px;
  min-height: 100px;
  margin-left: 150px;
  margin-top: 20px;
  font-size: 20px;
}

#largeGreyText {
  font-size: 80px;
  color: rgb(127, 128, 126);
  font-style: italic;
  font-weight: 100;
  margin-left: 250px;
}

@media (max-width: 800px) {
  .subtitle {
    flex-direction: column;
      margin-left: 0px;
  }

  .homeProjectsTitle h2 {
    font-size: 40px;
  }

  #opaqueAnd {
    font-size: 50px;
  }

  #paragraphText {
      margin-left: 0px;
  }

  #largeGreyText {
    margin-left: 15px;
    font-size: 40px;
  }

}

.projectArea {
  display: flex;
  min-height: 300px;
  margin: 20px;
  margin-top: 100px;
  background-color: white;
  color: black;
}

.projectDivide {
  width: 90vw;
  height: 10px;
  background-color: white;
  box-shadow: 0 4px 2px -2px gray; 
  margin-top: 100px;
  margin-left: 20px;
}

.projectTitle {
  font-size: 40px;
  font-style: italic;
  font-weight: 100;
  margin-left: 50px;
}

.projectImage {
  width: 400px;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px rgb(149, 149, 148);
  padding: 10px;
}

.projectImage:hover {
  box-shadow: 0px 0px 5px 5px rgb(246, 229, 198);
}

.projectDescription {
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
  margin-left: 80px;
}

.projectStack {
  font-size: 20px;
  margin-top: 50px;
  margin-left: 50px;
}

@media (max-width: 800px) {
  .projectArea {
    flex-direction: column;
  }

  .projectDivide {
    margin-top: 30px;
  }

  .projectTitle, .projectDescription, .projectStack {
    margin-left: 0px;
    margin-top: 20px;
  }
}

.homeContacts {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-color: bisque;
  margin-top: 50px;
}

.contactLink {
  text-decoration: none;
  font-size: 20px;
}

.contactCard {
  z-index: 2;
  background-color: rgb(41, 87, 21);
  color: white;
  width: 15vw;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  border-radius: 20px;
  margin: 30px;
  padding: 10px;
  padding-top: 40px;
  box-shadow: 3px 3px 10px rgb(61, 59, 55);
  transition: 0.2s;
}

.contactCard:hover {
  box-shadow: 3px 3px 10px rgb(243, 242, 240);

}

.contactCard img {
  height: 65px;
  width: 65px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.contactLargeText {
  font-size: 30px;
  margin-top: 15px;
}

.imageTanTri {
  z-index: 1;
  position: absolute;
  color: rgb(247, 207, 157);
  top: -55px;
  left: 20px;
  transform: rotate(25deg);
  font-size: 15vw;
  font-weight: bolder;
}

@media (max-width: 800px) {
  .imageTanTri {
    font-size: 100px;
    top: -25px;
  }

  .contactCard {
    margin: 15px;
    width: 25vw;
  }

  .contactLargeText {
    font-size: 20px;
  }
}

.homeFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(47, 46, 46);
  color: rgb(127, 128, 126);
  width: 100vw;
  height: 50px;
  font-size: 10px;
}

.footerText, .footerImages {
  display: flex;
  justify-content: center;
}

.footerImages {
font-size: 20px;
}

.footerImages i{
  margin-right: 20px;

}

.footerText i {
  margin-left: 15px;
  margin-right: 5px;
}

.contactIcons,
.contactIcons:visited,
.contactIcons:hover,
.contactIcons:active {
  color: rgb(127, 128, 126); /* Override any color changes */
  text-decoration: none;
}

// Projects Page

.projectsTop {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

.projectsTitleContainer {
  width: 100%;
  max-width: 700px;
  height: auto;
  padding-left: 20px;
  margin-top: 80px;
}

.projectsPicContainer {
  width: 100%;
  max-width: 650px;
  max-height: auto;
  overflow: visible;
  justify-self: end;
  padding-right: 100px;
}

#codePic {
  margin-top: 45px;
  margin-bottom: -30px; /* pushes image down into homeMiddle */
  position: relative;
  z-index: 2; /* keeps it above the next section */
}

@media (max-width: 800px) {
  .projectsTop {
    grid-template-columns: 1fr; /* single column */
    grid-template-rows: auto auto;
  }

  /* Reverse the visual order: right image on top */
  .projectsTitleContainer {
    justify-self: center;
    grid-row: 2;
  }

  .projectsPicContainer {
    grid-row: 1;
    justify-self: center;  
    padding-right: 0px;
  }
}

.projectsMiddle {
  padding: 50px;
  font-size: 20px;
  background-color: rgb(41, 87, 21);
  color: white;
  font-weight: 200;
}

.projectsPageMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 233, 216);
}

.projectsPageDiv {
  background-color: white;
  border: 5px solid white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgb(249, 223, 192);
  width: 80vw;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectsPageImage {
  width: 45%;
  height: auto;
  transition: 0.2s;
}

.projectsPageImage:hover {
  transform: scale(1.05);
}

.projectsPageName {
  font-size: 40px;
  font-style: italic;
  font-weight: 100;
  text-align: center;
}

.projectsPageDescription {
  font-size: 20px;
  font-style: italic;
  font-weight: 200;
}

.projectsPageStack {
  font-size: 20px;
}

@media (max-width: 800px) {
  .projectsPageImage {
    width: 80%;
  }
  .projectsPageDescription,.projectsPageStack {
    font-size: 15px;
  }

  .projectsPageDiv {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

//About Page

#aboutPageText {
  width: 100vw;
  height: 1000px;
  padding: 100px;
  font-size: 25px;
  font-weight: 200;
}

.aboutPageSpan {
  font-size: 30px;
  font-weight: 400;
}

@media (max-width: 800px) {
  #aboutPageText {
    font-size: 3.5vw;
    padding: 10px;
  }

  .aboutPageSpan {
    font-size: 4.5vw;
  }
}

//Contact Page

.contactTitle {
  margin: 30px;
  margin-top: 100px;
  font-size: 85px;
}

.contactGreenRect {
  background-color: rgb(160, 244, 121);
  width: 1050px;
  height: 10px;
  margin-left: 30px;
}

.contactWrapper {
  display: flex;
  padding: 50px;
  justify-content: space-around;
}

.contactLargeGreyText {
  font-size: 50px;
  color: rgb(127, 128, 126);
  font-style: italic;
  font-weight: 100;
}

.contactImage {
  width: 200px;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgb(210, 208, 208);
  transition: transform .2s;
}

.contactImage:hover {
  transform: scale(1.05);
}

@media (max-width: 800px) {
  .contactTitle {
    font-size: 10vw;
  }

  .contactGreenRect {
    width: 99%;
    margin-left: 10px;
  }

  .contactWrapper {
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
  }

  .contactLargeGreyText {
    font-size: 8vw;
  }
}

//Resume Page

.resumeContainer {
  margin: 50px;
}

.resumeTop {
  width: 100%;
  min-height: 110px;
  background-color: rgb(41, 87, 21);
  text-align: center;
  margin-bottom: 30px;
  padding-top: 10px;
}

.resumeTop h1,
.resumeTop h2 {
  color: white;
}

.resumeSection {
  margin-left: 50px;
  margin-right: 50px;
}

.resumeContainer h3,
.resumeContainer h4,
.resumeContainer a {
  color: rgb(41, 87, 21);
}

.resumeContainer h3 {
  margin-left: 40px;
  font-size: 25px;
}

.resumeContainer h4 {
  font-size: 20px;
}

.resumeContainer li {
  line-height: 27px;
}

.resumeDivide {
  width: 90%;
  height: 3px;
  background-color: rgb(127, 128, 126);
  box-shadow: 1px 2px rgb(210, 208, 208);
  margin: 20px;
  margin-left: 0px;
}

.resumeTitleDate {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.resumeSkills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10px;
}

@media (max-width: 800px) {
  .resumeContainer {
    margin: 15px;
  }

  .resumeSection {
    margin-right: 15px;
    margin-left: 15px;
  }

  .resumeSkills {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

.classroomCashRegisterVideoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  video {
    margin: 20px;
    margin-bottom: 50px;
  }
}